@charset 'utf-8';

/* 共通 */
body {
    font-family:Noto Sans;
    background-color: #FCFCFC;
}

a {
    text-decoration:none;
}

ul {
    list-style-type: none;
}

/* home header */
.header {
    min-height: 56px;
    display :flex;
    justify-content: flex-end;
}

.html_logo_black {
    margin-right:auto;
    margin-left:96px;
    line-height: 56px;
}

.top_menu {
    display:flex;
    padding-top: 26px;
    margin-right: 96px;
}

.top_menu_item + .top_menu_item {
    margin-left:56px;
}

.top_menu span {
    color:#3B3B3B;
}

.top_menu a {
    color:#B2B2B2;
}

.home_main_img {
    height:744px;
    width: 100%;
    background:url("img/home_top.png") no-repeat;
    background-size:cover;
    position:relative;
    margin-bottom: 80px;
}

.home_main_img h1 {
    width: 630px;
    font-size:53px;
    white-space: nowrap;
    letter-spacing: 2.65px;
    font-weight:100;
    color:#918F89;
    padding: 32px 32px 32px 88px;
    background-color: rgba(255,255,255,0.8);
    position:absolute;
    top:274px;
    left:0;
}

/* proposal */
.main_proposal {
    padding: 0 88px;
    margin-bottom:240px;
}

.main_proposal_con {
    padding-left: 560px;
    height: 560px;
    background:url("img/concept.png") no-repeat;
    background-size:contain;
}

.main_proposal_message {
    padding-left:56px;
}

.main_proposal_message h2 {
    font-size:25px;
    padding-top: 240px;
    padding-bottom: 71px;
    letter-spacing: 2.5px;
}

.main_proposal_message p {
    font-size:12px;
    letter-spacing: 0.36px;
    line-height: 2.5;
}


/* NEWS */
.news {
    padding: 0 96px;
}

.news h2 {
    color:#3B3B3B;
    font-size:23px;
    text-align:center;
    padding-bottom: 48px;
}

.news_list {
    display:flex;
    justify-content: center;
}

.news_img {
    height:320px;
    width: 320px;
}

.news_img + .news_img {
    margin-left: 64px;
}

.news_img_couch {
    background:url("img/news01.png") no-repeat;
    background-size:contain;
    position:relative;
}

.news_img_chair {
    background:url("img/news02.png") no-repeat;
    background-size:contain;
    position:relative;
}

.news_img_table {
    background:url("img/news03.png") no-repeat;
    background-size:contain;
    position:relative;
}

.news_list figcaption {
    color:#fff;
    text-align: center;
    line-height: 320px;
    position: relative;
}

.news_img_couch::before,
.news_img_chair::before,
.news_img_table::before{
    content: '';
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    height:100%;
    width: 100%;
}
